numpy
scipy<1.8.0
pandas<0.24.0
cython

tqdm
nose

dill
hyperopt==0.1.2

lockfile
pyyaml
liac-arff
psutil
sobol_seq
joblib

pynisher==0.5.0
pyrfr==0.8.0
ConfigSpace<=0.4.11

smac==0.8.0
xgboost
scikit-learn<0.22

